﻿@model PRAXISNETWORK.ModelViews.Application.Application

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section title{
    @ViewBag.Title
}

@section header{
    <script src="~/Scripts/Application/ApplyOffer.js"></script>
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            @using (Html.BeginForm("SaveApplication", "Application", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                @Html.AntiForgeryToken()

                <h1>@ViewBag.Title</h1>
                <br />
                <hr />
                @Html.HiddenFor(model => model.proposalId, Model.proposalId)
                @Html.HiddenFor(model => model.userId, Model.userId)
                <div class="form-group">
                    @Html.LabelFor(model => model.docsUploaded)
                    <div id="files">
                        <div>
                            <input type="file" name="docsUploaded" id="docsUploaded" />
                        </div>
                    </div>
                    <div>
                        <input type="button" value="Add another document" id="newDoc" class="btn btn-sm" /><br />
                        <input type="button" value="Remove a document" id="removeDoc" class="btn btn-sm" style="display: none" />
                    </div>
                    <br />
                    @Html.ValidationMessageFor(model => model.docsUploaded)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.message)<br />
                    @Html.EditorFor(model => model.message)
                </div>
                <div>
                    <hr />
                    <input type="submit" value="SAVE APPLICATION" class="btn btn-warning" />
                </div>
            }
        </div>
    </div>
</div>
