﻿@model PRAXISNETWORK.ModelViews.Application.Application

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section title{
    @ViewBag.Title
}

@section header{
    <script src="~/Scripts/Application/EditOfferApplication.js"></script>
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            @using (Html.BeginForm("UpdateApplication", "Application", FormMethod.Post))
            {

                @Html.AntiForgeryToken()

                <h1>@ViewBag.Title</h1>
                <br />
                <hr />
                @Html.HiddenFor(model => model.proposalId, Model.proposalId)
                @Html.HiddenFor(model => model.userId, Model.userId)

                <div class="form-group">
                    @Html.LabelFor(model => model.message)<br />
                    @Html.EditorFor(model => model.message)
                </div>
                <div>
                    <input type="submit" value="SAVE APPLICATION" class="btn btn-warning" />
                    <hr />
                </div><br />
                <div style="width: 100%">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading"><b>DOCUMENTS OF THE CURRENT APPLICATION</b></div>
                    </div>
                    <!-- Table -->
                    <div id="docs">
                        @if (ViewBag.Error != null)
                        {

                            @ViewBag.Error
                        }
                        else
                        {
                            <table class="table table-condensed table-bordered table-hover" id="tableDocs">
                                @if (Model.docs.Count() == 0)
                                {
                                    <tr>
                                        <td><b>There´s no documents for the current application...</b></td>
                                    </tr>
                                }
                                else
                                {
                                    <thead>
                                    <th>IDENTIFICATION</th>
                                    <th>SUBMITION DATE</th>
                                    <th>FILE NAME</th>
                                    <th>ACTION</th>
                                    </thead>

                                    foreach (var doc in Model.docs.OrderBy(d => d.submitDate))
                                    {
                                        <tr>
                                            @if (@doc.path.IndexOf(".jpg", StringComparison.OrdinalIgnoreCase) != -1 || @doc.path.IndexOf(".jpeg", StringComparison.OrdinalIgnoreCase) != -1 || @doc.path.IndexOf(".tif", StringComparison.OrdinalIgnoreCase) != -1 || @doc.path.IndexOf(".gif", StringComparison.OrdinalIgnoreCase) != -1)
                                            {
                                                <td><a class="fancybox_image" href="@Url.Content(@doc.path)">@doc.id</a></td>
                                                <td><a class="fancybox_image" href="@Url.Content(@doc.path)">@doc.submitDate.Date.ToString("yyyy-MM-dd")</a></td>
                                                <td><a class="fancybox_image" href="@Url.Content(@doc.path)">@doc.path.Split(System.IO.Path.DirectorySeparatorChar).Last()</a></td>
                                                <td>@Html.ActionLink("Delete", "DeleteApplicationDocument", "Application", new { @docId = doc.id, @proposalId = Model.proposalId }, new { @class = "btn btn-default" })</td>
                                            }
                                            else
                                            {
                                                <td><a class="fancybox_doc" href="@Url.Content(@doc.path)">@doc.id</a></td>
                                                <td><a class="fancybox_doc" href="@Url.Content(@doc.path)">@doc.submitDate.Date.ToString("yyyy-MM-dd")</a></td>
                                                <td><a class="fancybox_doc" href="@Url.Content(@doc.path)">@doc.path.Split(System.IO.Path.DirectorySeparatorChar).Last()</a></td>
                                                <td>@Html.ActionLink("Delete", "DeleteApplicationDocument", "Application", new { @docId = doc.id, @proposalId = Model.proposalId }, new { @class = "btn btn-default" })</td>
                                            }
                                        </tr>
                                    }
                                }
                            </table>
                        }
                    </div>
                </div>
            }

            @if (Model.docs.Count() < 5)
            {

                using (Ajax.BeginForm("AddApplicationDocument", "Application", new { proposalId = Model.proposalId }, new AjaxOptions { HttpMethod = "post" }, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <form name="uploadForm" if="uploadForm" enctype="multipart/form-data">
                        <div class="form-group">
                            @Html.LabelFor(model => model.docsUploaded)
                            <div id="files">
                                <div>
                                    <input type="file" name="docsUploaded" id="docsUploaded" /><button type="submit" class="btn btn-primary" id="fileUpload">UPLOAD FILE</button> (Files with same name will not be saved)
                                    <br />
                                    <div id="errorMessage">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                }
            }
            <hr />
        </div>
    </div>
</div>
