﻿@model PRAXISNETWORK.Models.ProposalApplications

@{
    int dropNumber = 0;
}

<table class="table table-bordered table-hover">
    @if (Model.allProposalApplications().Count() == 0)
    {
        <tr>
            <td><b>There´s no applications to this proposal...</b></td>
        </tr>
    }
    else
    {
        <thead>
        <th><b>USER´S NAME</b></th>
        <th><b>APPLICATION DATE</b></th>
        <th><b>CURRENT STATUS</b></th>
        <th><b>ACTION</b></th>
        </thead>
        foreach (var app in Model.allProposalApplications())
        {

            <tr>
                <td>@Html.ActionLink(@app.username, "ShowApplicant", "Application", new { @Id = app.userId }, null)</td>
                <td>@app.applicationDate</td>
                <td>@Html.DropDownList("drop_" + @dropNumber, app.status, new { @onchange = "ChangeApplicationStatus(" + (@dropNumber++) + ")" })</td>
                <td>@Html.ActionLink("Show application...", "ShowApplication", "Application", new { @proposalId = app.proposalId, @userId = app.userId }, new { @class = "btn btn-default" })</td>
            </tr>
        }
    }
</table>



