﻿@model PRAXISNETWORK.Models.ProposalApplications
@using PagedList.Mvc

@{
    Layout = "~/Views/Shared/_Master.cshtml";
    int dropNumber = 0;
}

@section title{

    @ViewBag.Title
}

@section header{
    <script src="~/Scripts/Proposals/ProposalApplicationsView.js"></script>
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>@ViewBag.Title</h2>
            <br />
            <hr />
            <div id="applications">
                <table class="table table-bordered table-hover">
                    @if (Model.allProposalApplications().Count() == 0)
                    {
                        <tr>
                            <td><b>There´s no applications to this proposal...</b></td>
                        </tr>
                    }
                    else
                    {
                        <thead>
                        <th><b>USER´S NAME</b></th>
                        <th><b>APPLICATION DATE</b></th>
                        <th><b>CURRENT STATUS</b></th>
                        <th><b>ACTION</b></th>
                        </thead>
                        foreach (var app in Model.allProposalApplications())
                        {

                            <tr>
                                <td>@Html.ActionLink(@app.username, "ShowApplicant", "Application", new { @applicantId = app.userId }, null)</td>
                                <td>@app.applicationDate</td>
                                <td>@Html.DropDownList("drop_" + @dropNumber, app.status, new { @onchange = "ChangeApplicationStatus("+ (@dropNumber++) +")" })</td>
                                <td>@Html.ActionLink("Show application...", "ShowApplication", "Application", new { @proposalId = app.proposalId, @userId = app.userId }, new { @class = "btn btn-default" })</td>
                            </tr>
                        }
                    }
                </table>
            </div>
            <div class="center-block">
                @Html.PagedListPager(Model.allProposalApplications(), page => Url.Action("ProposalApplications", "Application", new { page, pageSize = Model.pageSize }))
                <b>Showing @Model.allProposalApplications().FirstItemOnPage to @Model.allProposalApplications().LastItemOnPage of @Model.allProposalApplications().TotalItemCount projects/internships</b>
            </div>
            <hr />
        </div>
    </div>
</div>