﻿@model PRAXISNETWORK.ModelViews.Application.ApplicationShow

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section title{
    @ViewBag.Title
}

@section header{
    <script src="~/Scripts/Application/ApplicationShow.js"></script>
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">


            <h1>Application made by @Html.ActionLink(Model.username, "ShowApplicant", "Application", new { @applicantId = Model.userId }, null)</h1>
            @Html.HiddenFor(model => model.proposalId, Model.proposalId)
            @Html.HiddenFor(model => model.userId, Model.userId)
            <br />
            <hr />
            <div class="form-group">
                @Html.Label("Applicant message:")<br />
                <i>@Html.DisplayFor(model => model.message)</i>
            </div>
            <br />
            <div style="width: 100%">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><b>DOCUMENTS OF THE CURRENT APPLICATION</b></div>
                </div>
                <!-- Table -->
                <div>
                    <table class="table table-condensed table-bordered table-hover" id="tableDocs">
                        @if (Model.docs.Count() == 0)
                        {
                            <tr>
                                <td><b>There´s no documents for the current application...</b></td>
                            </tr>
                        }
                        else
                        {
                            <thead>
                            <th>IDENTIFICATION</th>
                            <th>SUBMITION DATE</th>
                            <th>FILE NAME</th>
                            </thead>

                            foreach (var doc in Model.docs.OrderBy(d => d.submitDate))
                            {
                                <tr>
                                    @if (@doc.path.IndexOf(".jpg", StringComparison.OrdinalIgnoreCase) != -1 || @doc.path.IndexOf(".jpeg", StringComparison.OrdinalIgnoreCase) != -1 || @doc.path.IndexOf(".tif", StringComparison.OrdinalIgnoreCase) != -1 || @doc.path.IndexOf(".gif", StringComparison.OrdinalIgnoreCase) != -1)
                                    {
                                        <td><a class="fancybox_image" href="@Url.Content(@doc.path)">@doc.id</a></td>
                                        <td><a class="fancybox_image" href="@Url.Content(@doc.path)">@doc.submitDate.Date.ToString("yyyy-MM-dd")</a></td>
                                        <td><a class="fancybox_image" href="@Url.Content(@doc.path)">@doc.path.Split(System.IO.Path.DirectorySeparatorChar).Last()</a></td>
                                    }
                                    else
                                    {
                                        <td><a class="fancybox_doc" href="@Url.Content(@doc.path)">@doc.id</a></td>
                                        <td><a class="fancybox_doc" href="@Url.Content(@doc.path)">@doc.submitDate.Date.ToString("yyyy-MM-dd")</a></td>
                                        <td><a class="fancybox_doc" href="@Url.Content(@doc.path)">@doc.path.Split(System.IO.Path.DirectorySeparatorChar).Last()</a></td>
                                    }
                                </tr>
                            }
                        }
                    </table>

                </div>
            </div>
            <hr />
        </div>
    </div>
</div>
