﻿@model PRAXISNETWORK.ModelViews.Application.ApplicantShow

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section title{
    @ViewBag.Title
}

@section header{
    <script src="~/Scripts/Application/ShowApplicant.js"></script>
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>PROFILE: @Model.name</h2>
            <br />
            <hr />
            <div class="form-group">
                @Html.Label("Email:")
                <i>@Html.DisplayFor(model => model.email)</i>
            </div>

            <div class="form-group">
                @Html.Label("Gender:")
                <i>@Html.DisplayFor(model => model.gender)</i>
            </div>

            <div class="form-group">
                @Html.Label("Birth date:")
                <i>@Html.DisplayFor(model => model.birthDate)</i>
            </div>

            <div class="form-group">
                @Html.Label("City / Country:")
                <i>@Html.DisplayFor(model => model.city) / @Html.DisplayFor(model => model.country)</i>
            </div>

            <div class="form-group">
                @Html.Label("Some personal information:")
                <i>@Html.DisplayFor(model => model.about)</i>
            </div>

            <div class="form-group">
                @Html.Label("Profile photo:")
                <a class="fancybox_image btn btn-default" href="@Url.Content(@Model.picture)" role="button">Click to show...</a>
            </div>
            <hr />
        </div>
    </div>
</div>
