﻿@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section title{

    @ViewBag.Title
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>@ViewBag.Title</h1>
            <br />
            <hr />
            @Html.ActionLink("PROVIDERS REGISTERED...", "AllProviders", "Register")<br />
            @Html.ActionLink("STUDENTS REGISTERED...", "AllStudents", "Register")
            <hr />
        </div>
    </div>
</div>
