﻿@model PRAXISNETWORK.Models.ProviderProposals
@using PagedList.Mvc

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section title{

    @ViewBag.Title
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>@ViewBag.Title</h2>
            <hr />
            <br />
            <table class="table table-bordered table-hover">
                @if (Model.allProviderProposals().Count() == 0)
                {
                    <tr>
                        <td><b>There´s no proposals made by you...</b></td>
                    </tr>
                }
                else
                {
                    <thead>
                    <th><b>Title</b></th>
                    <th><b>Start date</b></th>
                    <th><b>End date</b></th>
                    <th><b>Submission date</b></th>
                    <th><b>Number of applications</b></th>
                    </thead>
                    foreach (var app in Model.allProviderProposals())
                    {

                        <tr>
                            <td>@Html.ActionLink(@app.title, "ProposalShow", "Proposals", new { @Id = @app.id }, null)</td>
                            <td>@Html.ActionLink(@app.startDate, "ProposalShow", "Proposals", new { @Id = @app.id }, null)</td>
                            <td>@Html.ActionLink(@app.endDate, "ProposalShow", "Proposals", new { @Id = @app.id }, null)</td>
                            <td>@Html.ActionLink(@app.submitDate, "ProposalShow", "Proposals", new { @Id = @app.id }, null)</td>
                            <td>@Html.ActionLink(@app.numberOfApplications.ToString(), "ProposalShow", "Proposals", new { @Id = @app.id }, null)</td>
                        </tr>
                    }
                }
            </table>
            <div class="center-block">
                @Html.PagedListPager(Model.allProviderProposals(), page => Url.Action("ProviderProposals", "Administrator", new { page, pageSize = Model.pageSize }))
                <b>Showing @Model.allProviderProposals().FirstItemOnPage to @Model.allProviderProposals().LastItemOnPage of @Model.allProviderProposals().TotalItemCount projects/internships</b>
            </div>
            <hr />
            @Html.ActionLink("RETURN PROVIDERS LIST", "AllProviders", "Register", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
