﻿@model PRAXISNETWORK.Models.StudentApplications
@using PagedList.Mvc

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section title{

    @ViewBag.Title
}

<div class="container">

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>@ViewBag.Title</h2>
            <hr />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <table class="table table-bordered table-hover">
                @if (Model.allStudentApplications().Count() == 0)
                {
                    <tr>
                        <td><b>There´s no applications made by you...</b></td>
                    </tr>
                }
                else
                {
                    <thead>
                    <th><b>TITLE</b></th>
                    <th><b>START DATE</b></th>
                    <th><b>END DATE</b></th>
                    <th><b>APPLICATION DATE</b></th>
                    <th><b>COUNTRY</b></th>
                    <th><b>CITY</b></th>
                    <th><b>STATUS</b></th>
                    </thead>
                    foreach (var app in Model.allStudentApplications())
                    {

                        <tr>
                            <td>@Html.ActionLink(@app.title, "ProposalShow", "Proposals", new { @Id = @app.id }, null)</td>
                            <td>@Html.ActionLink(@app.startDate, "ProposalShow", "Proposals", new { @Id = @app.id }, null)</td>
                            <td>@Html.ActionLink(@app.endDate, "ProposalShow", "Proposals", new { @Id = @app.id }, null)</td>
                            <td>@Html.ActionLink(@app.submitDate, "ProposalShow", "Proposals", new { @Id = @app.id }, null)</td>
                            <td>@Html.ActionLink(@app.country, "ProposalShow", "Proposals", new { @Id = @app.id }, null)</td>
                            <td>@Html.ActionLink(@app.city, "ProposalShow", "Proposals", new { @Id = @app.id }, null)</td>
                            <td>@Html.ActionLink(@app.status, "ProposalShow", "Proposals", new { @Id = @app.id }, null)</td>
                        </tr>
                    }
                }
            </table>
            <div class="center-block">
                @Html.PagedListPager(Model.allStudentApplications(), page => Url.Action("StudentApplications", "Administrator", new { page, pageSize = Model.pageSize }))
                <b>Showing @Model.allStudentApplications().FirstItemOnPage to @Model.allStudentApplications().LastItemOnPage of @Model.allStudentApplications().TotalItemCount projects/internships</b>
            </div>
            <hr />
            @Html.ActionLink("RETURN STUDENTS LIST", "AllStudents", "Register", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>

