﻿@model PRAXISNETWORK.Models.AllStudents
@using PagedList.Mvc

@{
    Layout = "~/Views/Shared/_Master.cshtml";
    int dropLockedNumber = 0;
    int dropEnabledNumber = 0;
}

@section title{

    @ViewBag.Title
}

@section header{
    <script src="~/Scripts/Register/AllStudents.js"></script>
}

<div class="container">

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>@ViewBag.Title</h2>
            <hr />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div id="students">
                <table class="table table-bordered table-hover">
                    @if (Model.allProviders().Count() == 0)
                    {
                        <tr>
                            <td><b>There are no students registered...</b></td>
                        </tr>
                    }
                    else
                    {
                        <thead>
                        <th><b>NAME</b></th>
                        <th><b>EMAIL</b></th>
                        <th><b>LAST LOGIN</b></th>
                        <th><b>LOCKED</b></th>
                        <th><b>ENABLED</b></th>
                        <th><b>ACTION</b></th>
                        <th><b>ACTION</b></th>
                        </thead>
                        foreach (var app in Model.allProviders())
                        {
                            <tr>
                                <td>@Html.ActionLink(@app.username, "ShowStudent", "Register", new { @id = @app.id }, null)</td>
                                <td>@Html.ActionLink(@app.email, "ShowStudent", "Register", new { @id = @app.id }, null)</td>
                                <td>@Html.ActionLink(@app.lastLogin, "ShowStudent", "Register", new { @id = @app.id }, null)</td>
                                <td>@Html.DropDownList("dropLocked_" + @dropLockedNumber, app.locked, new { @onchange = "ChangeLockedStatus(" + (@dropLockedNumber++) + ")" })</td>
                                <td>@Html.DropDownList("dropEnabled_" + @dropEnabledNumber, app.enabled, new { @onchange = "ChangeEnabledStatus(" + (@dropEnabledNumber++) + ")" })</td>
                                <td>@Html.ActionLink("Show proposals applications...", "StudentProposals", "Administrator", new { @studentId = @app.id }, new { @class = "btn btn-default" })</td>
                                <td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#deleteStudent" id="deleteConfStudent_@app.id" onclick="updateStudentId(@app.id)">Delete student...</button></td>
                            </tr>
                        }
                    }
                </table>
            </div>
            <div class="center-block">
                @Html.PagedListPager(Model.allProviders(), page => Url.Action("AllProviders", "Register", new { page, pageSize = Model.pageSize }))
                <b>Showing @Model.allProviders().FirstItemOnPage to @Model.allProviders().LastItemOnPage of @Model.allProviders().TotalItemCount providers</b>
            </div>
            <hr />
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="deleteStudent">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Student deletion...</h4>
            </div>
            <div class="modal-body">
                <p>Do you want to confirm student deletion?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-danger" onclick="deleteStudentConfirmation()">CONFIRM</button>
            </div>
        </div>
    </div>
</div>