﻿@model PRAXISNETWORK.Models.AllStudents

@{
    int dropLockedNumber = 0;
    int dropEnabledNumber = 0;
}

<table class="table table-bordered table-hover">
    @if (Model.allProviders().Count() == 0)
    {
        <tr>
            <td><b>There are no students registered...</b></td>
        </tr>
    }
    else
    {
        <thead>
        <th><b>NAME</b></th>
        <th><b>EMAIL</b></th>
        <th><b>LAST LOGIN</b></th>
        <th><b>LOCKED</b></th>
        <th><b>ENABLED</b></th>
        <th><b>ACTION</b></th>
        <th><b>ACTION</b></th>
        </thead>
        foreach (var app in Model.allProviders())
        {
            <tr>
                <td>@Html.ActionLink(@app.username, "ShowStudent", "Register", new { @id = @app.id }, null)</td>
                <td>@Html.ActionLink(@app.email, "ShowStudent", "Register", new { @id = @app.id }, null)</td>
                <td>@Html.ActionLink(@app.lastLogin, "ShowStudent", "Register", new { @id = @app.id }, null)</td>
                <td>@Html.DropDownList("dropLocked_" + @dropLockedNumber, app.locked, new { @onchange = "ChangeLockedStatus(" + (@dropLockedNumber++) + ")" })</td>
                <td>@Html.DropDownList("dropEnabled_" + @dropEnabledNumber, app.enabled, new { @onchange = "ChangeEnabledStatus(" + (@dropEnabledNumber++) + ")" })</td>
                <td>@Html.ActionLink("Show proposals applications...", "StudentProposals", "Administrator", new { @studentId = @app.id }, new { @class = "btn btn-default" })</td>
                <td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#deleteStudent" id="deleteConfStudent_@app.id" onclick="updateStudentId(@app.id)">Delete student...</button></td>
            </tr>
        }
    }
</table>