﻿@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section title{

    @ViewBag.Title
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>Register</h1>
            <hr />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <div>
                <h3>Why register?</h3>
            </div>
            <br />
            <div>
                Registering in WEBAPP is a very simple and fast procedure.

                Although public users can browse projects and internships as well as the WEBAPP documentation resource, they do not have access to restricted functionalities. Applying for a project or internship matching your needs is limited to registered users. Being able to submit as many offers as you need is restricted also to registered users. These are merely two examples of the advantages of becoming a registered user.

                Become a registered user and benefit from WEBAPP in full.
            </div>
        </div>
        <div class="col-md-4">
            <h3>Register now</h3>
            <div class="col-sm-6">

                <div style="display:block; margin:auto"><img src="~/Photos/Register/student.PNG" class="img-rounded center-block" width="120px" height="161px" /></div>
                <br />
                <a href="/Register/Student" class="btn btn-warning">REGISTER AS STUDENT</a>
            </div>
            <div class="col-sm-6">
                <div style="display:block; margin:auto"><img src="~/Photos/Register/provider.PNG" class="img-rounded center-block" width="120px" height="161px" /></div>
                <br />
                <a href="/Register/Provider" class="btn btn-warning">REGISTER AS PROVIDER</a>
            </div>
        </div>
    </div>
</div>