﻿@model PRAXISNETWORK.ModelViews.Register.Provider

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section title{

    @ViewBag.Title
}

@section header{

    <script src="~/Scripts/Register/ProviderEditionView.js"></script>
}

@using (Html.BeginForm("UpdateProvider", "Register", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>@ViewBag.Title</h1>
                <hr />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h2>User information</h2>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.firstName)
                    @Html.EditorFor(model => model.firstName)
                    @Html.ValidationMessageFor(model => model.firstName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.lastName)
                    @Html.EditorFor(model => model.lastName)
                    @Html.ValidationMessageFor(model => model.lastName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.password)
                    @Html.PasswordFor(model => model.password)
                    @Html.ValidationMessageFor(model => model.password)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.passwordConfirmation)
                    @Html.PasswordFor(model => model.passwordConfirmation)
                    @Html.ValidationMessageFor(model => model.passwordConfirmation)
                </div>
            </div>
            <div class="col-md-4">
                <h2>Localization information</h2><br />
                @Html.LabelFor(model => model.isOldInstitution)<br />
                @Html.DropDownListFor(model => model.isOldInstitution, Model.ListOfInstitutionsInfo())
                <div id="institution">
                    @if (Model.isOldInstitution == "1")
                    {
                        @Html.Partial("ProviderEditionNewInstitutionPartialView")
                    }
                    else if (Model.isOldInstitution == "2")
                    {
                        @Html.Partial("ProviderEditionOldInstitutionPartialView")
                    }

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <hr />
                <input type="submit" value="UPDATE" class="btn btn-warning" />
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteProfile">DELETE MY PROFILE</button>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="deleteProfile" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><b>Profile deletion...</b></h4>
            </div>
            <div class="modal-body">
                <p>
                    Deleting your profile will erase all your related information about previous and current proposals among others things.
                    <br />
                    <br />
                    Do you really want to delete your profile?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a class="btn btn-danger" href="/Register/DeleteProfile">DELETE PROFILE</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
