﻿@model PRAXISNETWORK.ModelViews.Register.Provider

<br />
<div class="form-group">
    @Html.LabelFor(model => model.country)
    @Html.DropDownListFor(model => model.country, Model.ListsOfCountriesAndCities()["countries"])
</div>
<div class="form-group">
    @Html.LabelFor(model => model.city)
    @Html.DropDownListFor(model => model.city, Model.ListsOfCountriesAndCities()["cities"])
</div>