﻿@model PRAXISNETWORK.ModelViews.Register.Provider

@{
    ViewBag.Title = "Provider";
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section title{

    @ViewBag.Title
}

@section header{

    <script src="~/Scripts/Register/ProviderView.js"></script>
}

@using (Html.BeginForm("SaveProvider", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>Register as provider</h1>
                <hr />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h2>User information</h2>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.username)
                    @Html.EditorFor(model => model.username)
                    @Html.ValidationMessageFor(model => model.username)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.firstName)
                    @Html.EditorFor(model => model.firstName)
                    @Html.ValidationMessageFor(model => model.firstName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.lastName)
                    @Html.EditorFor(model => model.lastName)
                    @Html.ValidationMessageFor(model => model.lastName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.email)
                    @Html.EditorFor(model => model.email)
                    @Html.ValidationMessageFor(model => model.email)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.password)
                    @Html.PasswordFor(model => model.password)
                    @Html.ValidationMessageFor(model => model.password)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.passwordConfirmation)
                    @Html.PasswordFor(model => model.passwordConfirmation)
                    @Html.ValidationMessageFor(model => model.passwordConfirmation)
                </div>
            </div>
            <div class="col-md-5">
                <h2>Institution information</h2>
                <br />
                @Html.LabelFor(model => model.isOldInstitution)
                @Html.DropDownListFor(model => model.isOldInstitution, Model.ListOfInstitutionsInfo())
                <div id="institution">
                    @Html.Partial("ProviderNewInstitutionPartialView")
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <hr />
                <input type="submit" value="REGISTER" class="btn btn-warning" />
            </div>
        </div>
    </div>
}
