﻿@model PRAXISNETWORK.ModelViews.Register.Provider

<br />
<div class="form-group">
    @Html.LabelFor(model => model.selectedInstitution)
    <div>
        @Html.DropDownListFor(model => model.selectedInstitution, Model.ListOfInstitutions())
    </div>
</div>