﻿@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section title{

    @ViewBag.Title
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div>
                <h1>@ViewBag.Title</h1>
            </div>
            <br />
            @if (ViewBag.Success != null)
            {

                <div class="alert alert-success" role="alert">@ViewBag.Success</div>
            }
            else if (ViewBag.Error != null)
            {

                <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
            }
        </div>
    </div>
</div>
