﻿@model PRAXISNETWORK.ModelViews.Register.Provider

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section title{

    @ViewBag.Title
}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>Provider´s information</h1>
            <hr />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="form-group">
                @Html.LabelFor(model => model.username)
                @Html.DisplayFor(model => model.username)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.firstName)
                @Html.DisplayFor(model => model.firstName)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.lastName)
                @Html.DisplayFor(model => model.lastName)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.email)
                @Html.DisplayFor(model => model.email)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.city)
                @Html.DisplayFor(model => model.city)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.country)
                @Html.DisplayFor(model => model.country)
            </div>
            <hr />
            @Html.ActionLink("RETURN TO PROVIDERS LIST", "AllProviders", "Register", null, new { @class="btn btn-default"})
        </div>
    </div>
</div>