﻿@model PRAXISNETWORK.ModelViews.Register.Applicant

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section title{

    @ViewBag.Title
}

@section header{

    <script src="~/Scripts/Register/StudentView.js"></script>
}

@using (Html.BeginForm("SaveStudent", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>Register as student</h1>
                <hr />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h2>User information</h2>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.username)
                    @Html.EditorFor(model => model.username)
                    @Html.ValidationMessageFor(model => model.username)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.firstName)
                    @Html.EditorFor(model => model.firstName)
                    @Html.ValidationMessageFor(model => model.firstName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.lastName)
                    @Html.EditorFor(model => model.lastName)
                    @Html.ValidationMessageFor(model => model.lastName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.gender)
                    Male @Html.RadioButtonFor(model => model.gender, "Male", new { @checked = "checked" })
                    Female @Html.RadioButtonFor(model => model.gender, "Female")
                    @Html.ValidationMessageFor(model => model.gender)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.birthDate)
                    @Html.EditorFor(model => model.birthDate)
                    @Html.ValidationMessageFor(model => model.birthDate)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.email)
                    @Html.EditorFor(model => model.email)
                    @Html.ValidationMessageFor(model => model.email)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.picture)
                    <input type="file" name="picture" id="picture" />
                    @Html.ValidationMessageFor(model => model.picture)
                </div>
                <div class="form-group">
                    <div>
                        @Html.LabelFor(model => model.about)
                    </div>
                    @Html.EditorFor(model => model.about)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.password)
                    @Html.PasswordFor(model => model.password)
                    @Html.ValidationMessageFor(model => model.password)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.passwordConfirmation)
                    @Html.PasswordFor(model => model.passwordConfirmation)
                    @Html.ValidationMessageFor(model => model.passwordConfirmation)
                </div>
            </div>
            <div class="col-md-5">
                <h2>Optional information</h2>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.country)
                    @Html.DropDownListFor(model => model.country, Model.ListsOfCountriesAndCities()["countries"])
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.city)
                    @Html.DropDownListFor(model => model.city, Model.ListsOfCountriesAndCities()["cities"])
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <br />
                <hr />
                <input type="submit" value="REGISTER" class="btn btn-warning" />
            </div>

        </div>
    </div>
}