﻿@model PRAXISNETWORK.ModelViews.Register.Applicant

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section header{

    <script src="~/Scripts/Register/StudentEditionView.js"></script>
}

@section title{

    @ViewBag.Title
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>@ViewBag.Title</h1>
        <hr />
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>User information</h2>
            <br />
            <div class="form-group">
                @if (!String.IsNullOrEmpty(Model.picturePath))
                {
                    @Html.Label("Your profile Photo:")
                    <a class="fancybox_image btn btn-default" href="@Url.Content(@Model.picturePath)" role="button"><span class="badge-info">Click to show...</span></a>
                    @Html.ActionLink("DELETE PROFILE PICTURE", "DeleteProfilePicture", "Register", null, new { @class = "btn btn-danger" })
                }
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("UpdateStudent", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-11 col-md-offset-1">

                <div class="form-group">
                    @Html.LabelFor(model => model.firstName)
                    @Html.EditorFor(model => model.firstName)
                    @Html.ValidationMessageFor(model => model.firstName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.lastName)
                    @Html.EditorFor(model => model.lastName)
                    @Html.ValidationMessageFor(model => model.lastName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.gender)
                    @if (Model.gender.Equals("Male"))
                    {
                        @:Male @Html.RadioButtonFor(model => model.gender, "Male", new { @checked = "checked" })
                        @:Female @Html.RadioButtonFor(model => model.gender, "Female")
                    }
                    else if (Model.gender.Equals("Female"))
                    {

                        @:Male @Html.RadioButtonFor(model => model.gender, "Male")
                        @:Female @Html.RadioButtonFor(model => model.gender, "Female", new { @checked = "checked" })
                    }
                    @Html.ValidationMessageFor(model => model.gender)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.birthDate)
                    @Html.EditorFor(model => model.birthDate)
                    @Html.ValidationMessageFor(model => model.birthDate)
                </div>

                <div class="form-group">
                    <div>
                        @Html.LabelFor(model => model.about)
                    </div>
                    @Html.EditorFor(model => model.about)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.password)
                    @Html.PasswordFor(model => model.password)
                    @Html.ValidationMessageFor(model => model.password)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.passwordConfirmation)
                    @Html.PasswordFor(model => model.passwordConfirmation)
                    @Html.ValidationMessageFor(model => model.passwordConfirmation)
                </div>
                <div class="form-group">
                    @if (String.IsNullOrEmpty(Model.picturePath))
                    {
                        @Html.LabelFor(model => model.picture)
                        <input type="file" name="picture" id="picture" />
                        @Html.ValidationMessageFor(model => model.picture)
                    }
                </div>
                <br />
                <h2>Optional information</h2>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.country)
                    @Html.DropDownListFor(model => model.country, Model.ListsOfCountriesAndCitiesSelected()["countries"])
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.city)
                    @Html.DropDownListFor(model => model.city, Model.ListsOfCountriesAndCitiesSelected()["cities"])
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <hr />
                <input type="submit" value="UPDATE" class="btn btn-warning" />
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteProfile">DELETE MY PROFILE</button>
            </div>

        </div>
    </div>
}

<div class="modal fade" id="deleteProfile" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><b>Profile deletion...</b></h4>
            </div>
            <div class="modal-body">
                <p>
                    Deleting your profile will erase all your related information about previous and current applications among others things.
                    <br />
                    <br />
                    Do you really want to delete your profile?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a class="btn btn-danger" href="/Register/DeleteProfile">DELETE PROFILE</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
