﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@RenderSection("title")</title>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    @*<script src="~/Scripts/jquery-1.8.3.js"></script>*@
    <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <link href="~/Scripts/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/Bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="~/Scripts/Bootstrap/js/bootstrap.min.js"></script>
    <link href="~/Scripts/Bootstrap/css/bootstrap.icon-large.min.css" rel="stylesheet" />
    <script src="~/Scripts/FancyBox/source/jquery.fancybox.pack.js"></script>
    <link href="~/Scripts/FancyBox/source/jquery.fancybox.css" rel="stylesheet" />
    <script src="~/Scripts/FancyBox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

    @if (IsSectionDefined("header"))
    {
        @RenderSection("header")
    }
</head>
<body style="padding-top: 70px; padding-bottom:70px">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="padding:10px; vertical-align: central">
            <div class="col-md-7">
                @Html.ActionLink("LOGIN | ", "Index", "Login", null, new { @style = "color: white" })
                @Html.ActionLink("REGISTER | ", "Index", "Register", null, new { @style = "color: white" })
                @Html.ActionLink("PROPOSALS |", "Index", "Proposals", null, new { @style = "color: white" })
                @Html.ActionLink("SUBSCRIBE ", "NewSubscriber", "News", null, new { @style = "color: white" })
                @using (Html.BeginForm("ProposalsSearchMaster", "Proposals", FormMethod.Post, new { @style = "display: inline" }))
                {
                    @Html.AntiForgeryToken()

                    <input type="text" name="searchField" id="searchField" placeholder="Search projects/internships..." style="width:30%" />

                }
            </div>
            <div class="col-md-5 col-md-offset-2">

            </div>
        </div>
    </nav>
    <div>
        @RenderBody();
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="container" style="padding:10px; color: white; vertical-align: central">
                <div class="row">
                    <div class="col-sm-8">
                        @if (Session["userID"] != null)
                        {
                            if (((int)Session["userType"]) == 2)
                            {
                                @Html.ActionLink("STUDENT BOARD", "Index", "Student", null, new { @style = "color: white" })
                            }

                            if (((int)Session["userType"]) == 1)
                            {
                                @Html.ActionLink("PROVIDER BOARD", "Index", "Provider", null, new { @style = "color: white" })
                            }

                            if (((int)Session["userType"]) == 3)
                            {
                                @Html.ActionLink("ADMINISTRATOR BOARD", "Index", "Administrator", null, new { @style = "color: white" })
                            }
                        }
                        else
                        {
                            <i>@Html.ActionLink("Administration", "AdminLogin", "login", null, new { @style = "color: white" })</i>
                        }
                    </div>
                    <div class="col-sm-4">
                        @if (this.Session["userID"] != null)
                        {
                            <a href="/Login/Logout" class="btn btn-danger">LOGOUT</a>  <b>@((String)this.Session["userName"])</b>
                        }
                    </div>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>
