﻿@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section title{

    @ViewBag.Title
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>@ViewBag.Title</h1>
            <br />
            <hr />
            @Html.ActionLink("EDIT MY PROFILE...", "ProviderEdition", "Register")<br />
            @Html.ActionLink("EDIT MY PROPOSALS...", "ProviderProposals", "Provider")<br />
            @Html.ActionLink("ADD NEW PROPOSAL...", "NewProposal", "Proposals")<br />
            <hr />
        </div>
    </div>
</div>
