﻿@model PRAXISNETWORK.ModelViews.Proposals.ProposalSearch
@using PagedList.Mvc

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section title{
    @ViewBag.Title
}

<div class="container">

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>Find international projects and internships</h2><br />
            <hr />
        </div>
    </div>
    <br />
    <div class="row">

        <div class="col-md-4 col-md-offset-1">
            @using (Html.BeginForm("ProposalsFilter", "Proposals", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(model => model.targets)<br />
                    @Html.ListBoxFor(model => model.targets, new MultiSelectList(Model.AllTargets(), "Value", "Text"))
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.studyDegrees)<br />
                    @Html.ListBoxFor(model => model.studyDegrees, new MultiSelectList(Model.AllStudyDegrees(), "Value", "Text"))
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.durations)<br />
                    @Html.ListBoxFor(model => model.durations, new MultiSelectList(Model.AllDurations(), "Value", "Text"))
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.country)<br />
                    @Html.DropDownListFor(model => model.country, Model.AllCountries(), new { @style = "width: 50%" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.studyArea)<br />
                    @Html.DropDownListFor(model => model.studyArea, Model.AllStudyAreas())
                </div>
                <div>
                    <input type="submit" value="FILTER" class="btn btn-warning" />
                </div>
            }
        </div>

        <div class="col-md-7">
            @using (Html.BeginForm("ProposalsSearch", "Proposals", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(model => model.searchField)<br />
                    @Html.EditorFor(model => model.searchField, new { @style = "width: 100%" })
                    <input type="submit" value="SEARCH" class="btn btn-warning" />
                </div>
            }
            <div id="projects">
                @foreach (var proposal in Model.AllProposals())
                {
                    <div>
                        <h3>@proposal.title</h3>
                        <br />
                        @Html.Label("City:") @proposal.city<br />
                        @Html.Label("Study area:") @proposal.studyAreas<br />
                        @Html.Label("Study degree:") @proposal.studyDegrees<br />
                        @Html.Label("Institution:") @proposal.institution<br />
                        @Html.ActionLink("READ COMPLETE OFFER >>", "ProposalShow", "Proposals", new { @Id = proposal.id }, null)
                    </div>
                    <hr />
                }
            </div>
            <div class="center-block">
                @Html.PagedListPager(Model.AllProposals(), page => Url.Action("Index", "Proposals", new { page, pageSize = Model.AllProposals().PageSize }))
                <b>Showing @Model.AllProposals().FirstItemOnPage to @Model.AllProposals().LastItemOnPage of @Model.AllProposals().TotalItemCount projects/internships</b>
            </div>
        </div>
    </div>
</div>
