﻿@model PRAXISNETWORK.ModelViews.Proposals.ProposalShow

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@*@section header{
        <script src="~/Scripts/Proposals/ProposalShow.js"></script>
    }*@

@section title{
    @ViewBag.Title
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div>
                <h2>@Model.title</h2>
            </div><br />
            <hr />
            <h3>@Html.DisplayNameFor(model => model.description)</h3>
            <p>
                @Model.description
            </p>
            <h3>@Html.DisplayNameFor(model => model.city) / @Html.DisplayNameFor(model => model.country)</h3>
            <p>
                @Model.city / @Model.country
            </p>
            <h3>@Html.DisplayNameFor(model => model.supervisorFirtLastName)</h3>
            <p>
                @Model.supervisorFirtLastName
            </p>
            <h3>@Html.DisplayNameFor(model => model.supervisorEmail)</h3>
            <p>
                @Model.supervisorEmail
            </p>
            <h3>@Html.DisplayNameFor(model => model.validationDateText)</h3>
            <p>
                @Model.validationDateText
            </p>
            <h3>@Html.DisplayNameFor(model => model.startDateText)</h3>
            <p>
                @Model.startDateText
            </p>
            <h3>@Html.DisplayNameFor(model => model.endDateText)</h3>
            <p>
                @Model.endDateText
            </p>
            <h3>@Html.DisplayNameFor(model => model.payment)</h3>
            <p>
                @Model.payment
            </p>
            <h3>@Html.DisplayNameFor(model => model.vacancies)</h3>
            <p>
                @Model.vacancies
            </p>
            <h3>@Html.DisplayNameFor(model => model.globalsSkills)</h3>
            <p>
                @Model.globalsSkills
            </p>
            <h3>@Html.DisplayNameFor(model => model.jobRelatedSkills)</h3>
            <p>
                @Model.jobRelatedSkills
            </p>
            <h3>@Html.DisplayNameFor(model => model.benefits)</h3>
            <p>
                @Model.benefits
            </p>
            <h3>@Html.DisplayNameFor(model => model.contact)</h3>
            <p>
                @Model.contact
            </p>
            <h3>@Html.DisplayNameFor(model => model.Institution)</h3>
            <p>
                @Model.Institution
            </p>
            <h3>@Html.DisplayNameFor(model => model.host)</h3>
            <p>
                @Model.host
            </p>
            <h3>@Html.DisplayNameFor(model => model.languages)</h3>
            <p>
                @Model.languages
            </p>
            <h3>@Html.DisplayNameFor(model => model.promotedSkills)</h3>
            <p>
                @Model.promotedSkills
            </p>
            <h3>@Html.DisplayNameFor(model => model.targets)</h3>
            <p>
                @Model.targets
            </p>
            <h3>@Html.DisplayNameFor(model => model.studyAreas)</h3>
            <p>
                @Model.studyAreas
            </p>
            <h3>@Html.DisplayNameFor(model => model.studyDegrees)</h3>
            <p>
                @Model.studyDegrees
            </p>
            <div>
                <hr />
                @if (Session["userId"] != null)
                {
                    if ((int)Session["userType"] == 2)
                    {
                        if (Model.userAlreadyApplied)
                        {

                            <b>(You already applied to this offer)</b><br />
                            <a href="/Application/EditOfferApplication/@Model.id" class="btn btn-warning">EDIT YOUR APPLICATION</a>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteApplication" id="deleteConfApplication">DELETE YOUR APPLICATION</button>
                            <br /><br />
                            <a href="/Proposals" class="btn btn-default">SEARCH OTHERS PROJECTS/INTERNSHIPS...</a>
                        }
                        else
                        {
                            <a href="/Application/ApplyOffer/@Model.id" class="btn btn-warning">APPLY FOR THIS PROJECT/INTERNSHIP</a>
                            <a href="/Proposals" class="btn btn-default">SEARCH OTHERS PROJECTS/INTERNSHIPS...</a>
                        }
                    }
                    else if ((int)Session["userType"] == 1 || (int)Session["userType"] == 3)
                    {
                        if ((int)Session["userId"] == Model.providerId || (int)Session["userType"] == 3)
                        {
                            if (Model.hasApplications)
                            {
                                <a href="/Application/ProposalApplications/@Model.id" class="btn btn-success">CONSULT ALL APPLICATIONS TO THIS OFFER...</a>

                            }

                            <a href="/Proposals/ProposalEdition/@Model.id" class="btn btn-warning">EDIT PROPOSAL...</a>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteProposal" id="deleteConfProposal">DELETE PROPOSAL</button>
                            <br />
                        }

                        <br />
                        if ((int)Session["userType"] == 1)
                        {
                            <a href="/Proposals" class="btn btn-default">SEARCH OTHERS PROJECTS/INTERNSHIPS...</a>
                        }
                    }
                }
                else
                {
                    <a href="/Application/ApplyOffer/@Model.id" class="btn btn-warning">APPLY FOR THIS PROJECT/INTERNSHIP</a>
                    <a href="/Proposals" class="btn btn-default">SEARCH OTHERS PROJECTS/INTERNSHIPS...</a>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="deleteApplication">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Application deletion...</h4>
            </div>
            <div class="modal-body">
                <p>Do you want to confirm application deletion?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a href="/Application/DeleteOfferApplication/@Model.id" class="btn btn-danger">CONFIRM</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="deleteProposal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Proposal deletion...</h4>
            </div>
            <div class="modal-body">
                <p>Do you want to confirm proposal deletion?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a href="/Proposals/DeleteProposal/@Model.id" class="btn btn-danger">CONFIRM</a>
            </div>
        </div>
    </div>
</div>