﻿@model PRAXISNETWORK.ModelViews.Proposals.Proposal

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section title{
    @ViewBag.Title
}

@section header{
    <script src="~/Scripts/Proposals/ProposalEditionView.js"></script>
}

@using (Html.BeginForm("SaveProposalEdition", "Proposals", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h2>Proposal information</h2>
                <br />
                <hr />
                @Html.HiddenFor(model => model.id)
                <div class="form-group">
                    @Html.LabelFor(model => model.title)
                    @Html.EditorFor(model => model.title)
                    @Html.ValidationMessageFor(model => model.title)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.description)<br />
                    @Html.EditorFor(model => model.description)
                    @Html.ValidationMessageFor(model => model.description)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.targets)<br />
                    @Html.ListBoxFor(model => model.targets, new MultiSelectList(Model.AllTargetsSelected(), "Value", "Text"))
                    @Html.ValidationMessageFor(model => model.targets)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.startDate)
                    @Html.EditorFor(model => model.startDate)
                    @Html.ValidationMessageFor(model => model.startDate)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.endDate)
                    @Html.EditorFor(model => model.endDate)
                    @Html.ValidationMessageFor(model => model.endDate)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.validTo)
                    @Html.EditorFor(model => model.validTo)
                    @Html.ValidationMessageFor(model => model.validTo.Date)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.payment)
                    @Html.EditorFor(model => model.payment)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.vacancies)
                    @Html.EditorFor(model => model.vacancies)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.globalSkills)<br />
                    @Html.EditorFor(model => model.globalSkills)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.jobRelatedSkills)<br />
                    @Html.EditorFor(model => model.jobRelatedSkills)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.benefits)<br />
                    @Html.EditorFor(model => model.benefits)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.requiredSkills)<br />
                    @Html.ListBoxFor(model => model.requiredSkills, new MultiSelectList(Model.AllRequiredSkillsSelected(), "Value", "Text"), new { @style = "width: 100%" })
                    @Html.ValidationMessageFor(model => model.requiredSkills)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.promotedSkills)<br />
                    @Html.ListBoxFor(model => model.promotedSkills, new MultiSelectList(Model.AllPromotedSkillsSelected(), "Value", "Text"), new { @style = "width: 100%" })
                    @Html.ValidationMessageFor(model => model.promotedSkills)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.studyAreas)<br />
                    @Html.ListBoxFor(model => model.studyAreas, new MultiSelectList(Model.AllStudyAreasSelected(), "Value", "Text"), new { @style = "width: 100%" })
                    @Html.ValidationMessageFor(model => model.studyAreas)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.studyDegrees)<br />
                    @Html.ListBoxFor(model => model.studyDegrees, new MultiSelectList(Model.AllStudyDegreesSelected(), "Value", "Text"), new { @style = "width: 100%" })
                    @Html.ValidationMessageFor(model => model.studyDegrees)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.languages)<br />
                    @Html.ListBoxFor(model => model.languages, new MultiSelectList(Model.AllLanguagesSelected(), "Value", "Text"), new { @style = "width: 100%" })
                    @Html.ValidationMessageFor(model => model.languages)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.city)<br />
                    @Html.DropDownListFor(model => model.city, Model.AllCitiesSelected(), new { @style = "width: 100%" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.institution)<br />
                    @Html.DropDownListFor(model => model.institution, Model.AllInstitutionsSelected(), new { @style = "width: 100%" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.host)<br />
                    @Html.DropDownListFor(model => model.host, Model.AllHostSelected(), new { @style = "width: 100%" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.contact)<br />
                    @Html.EditorFor(model => model.contact)
                    @Html.ValidationMessageFor(model => model.contact)
                </div>
                <hr />
            </div>
            <div class="col-md-4">
                <h2>Supervisor information</h2>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.superVisorFirstName)
                    @Html.EditorFor(model => model.superVisorFirstName)
                    @Html.ValidationMessageFor(model => model.superVisorFirstName)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.superVisorLastName)
                    @Html.EditorFor(model => model.superVisorLastName)
                    @Html.ValidationMessageFor(model => model.superVisorLastName)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.superVisorEmail)
                    @Html.EditorFor(model => model.superVisorEmail)
                    @Html.ValidationMessageFor(model => model.superVisorEmail)
                </div>
                <hr />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <input type="submit" value="UPDATE" class="btn btn-warning" />
            </div>
        </div>
    </div>
}
