﻿@model PRAXISNETWORK.ModelViews.News.NewSubscriber

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section title{
    @ViewBag.Title
}

@section header{
    <script src="~/Scripts/News/NewSubscriberView.js"></script>
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>@ViewBag.Title</h1>
        <hr />
    </div>
</div>
<br />

@using (Html.BeginForm("SaveSubscriber", "News", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="form-group">
                @Html.LabelFor(model => model.name)<br />
                @Html.EditorFor(model => model.name)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.email)<br />
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <hr />
            <input type="submit" value="SUBSCRIBE" class="btn btn-warning"/>
        </div>
    </div>
}


