﻿@model PRAXISNETWORK.ModelViews.Login.Login

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section title{
    @ViewBag.Title
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>@ViewBag.Title</h1>
        <hr />
    </div>
</div>
<br />
@using (Html.BeginForm("AdminAuthentication", "Login", FormMethod.Post))
{

    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="form-group">
                @Html.LabelFor(model => model.usernameEmail)
                @Html.EditorFor(model => model.usernameEmail)
                @Html.ValidationMessageFor(model => model.usernameEmail)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.password)
                @Html.EditorFor(model => model.password)
                @Html.ValidationMessageFor(model => model.password)
            </div>
            <br />
            <div>
                <input type="submit" value="LOGIN" class="btn btn-warning" />
            </div>
        </div>
    </div>
}

