﻿@{
    ViewBag.Title = "AuthenticationFailed";
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section title{

    @ViewBag.Title
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div>
                <h1>Authentication result</h1>
            </div>
            <br />
            <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
        </div>
    </div>
</div>
