﻿@model PRAXISNETWORK.ModelViews.Login.Login

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section title{

    @ViewBag.Title
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>Login</h1>
        <hr />
    </div>
</div>
<br />
@using (Html.BeginForm("Authentication", "Login", FormMethod.Post))
{

    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <div class="form-group">
                @Html.LabelFor(model => model.usernameEmail)
                @Html.EditorFor(model => model.usernameEmail)
                @Html.ValidationMessageFor(model => model.usernameEmail)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.password)
                @Html.EditorFor(model => model.password)
                @Html.ValidationMessageFor(model => model.password)
            </div>
            @Html.LabelFor(model => model.isApplicant) @Html.CheckBoxFor(model => model.isApplicant)
            <br />
            <div>
                <input type="submit" value="LOGIN" class="btn btn-warning" />
            </div>
        </div>
        <div class="col-md-4">
            <h3>Register now</h3>
            <div>
                Not a member yet? Register Now!<br />
                @Html.ActionLink("WHY SHOULD YOU REGISTER?", "Index", "Register")
            </div>
            <div class="col-sm-6">
                <div><img src="~/Photos/Register/student.PNG" class="img-rounded center-block" width="120px" height="161px" /></div>
                <br />
                <a href="Register/Student" class="btn btn-warning">REGISTER AS STUDENT</a>
            </div>
            <div class="col-sm-6">
                <div><img src="~/Photos/Register/provider.PNG" class="img-rounded center-block" width="120px" height="161px" /></div>
                <br />
                <a href="Register/Provider" class="btn btn-warning">REGISTER AS PROVIDER</a>
            </div>
        </div>
    </div>
}
